.home{
    background-color: black;
    color: white;
}

li{
    list-style: none;  
}

ul{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
}

.navElements{
    display: flex;
    flex-direction: row;
}

.navElement{
    background-color: aquamarine;
    box-sizing: border-box;
}

.logo{
    width: 10%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid salmon;
}

.navbar{
    display: flex;
    border: 2px solid black;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
}