@use '../../global.scss' as *;


.navbar{
    @include align(row, stretch, space-evenly);
    @include border;
    
    height: 10vh;
    width: 100vw;

    @media (max-width: $mid){
        height: 5vw;
    }
    @media (max-width: $big){
        font-size: 3vw;
    }

}

.element{
    @include respoText;

    flex-grow: 1;
    background-color: $azul;
    &:hover{
        a{
            background-color: $negro;
            color: $rojo;

        }
    }
    a{
        @include center;
        @include hundert;
        font-size: inherit;
        color: white;
        text-decoration: none;
        transition: 0.3s color ease, 0.3s background ease;
        padding: 1vw;
    }

    
}


.active{
    background-color: lighten($azul, 25%);
    color: darken(white, 25%);
}


