.home{
    background-color: black;
    color: white;
}

li{
    list-style: none;  
}

.navElements{
    display: flex;
    flex-direction: row;
}

.navElement{
    background-color: aquamarine;
    box-sizing: border-box;
}

.navbar{
    
}